<html lang="en">
    <head>
        {{> header}}
        <title>Sell Your Stuff</title>
    </head>
    <body>
        <h1>Add product</h1>

        <div class="container">
            {{> menu}}
            <form>
                <label>Photo</label>
                <input type="file" name="photo"/>
                <button type="submit">Upload</button>
            </form>

            <form action="/login" method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Enter user title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price" placeholder="Enter price"></input>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
         </div>
        {{> footer}}
    </body>
</html>
